body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  /* Center the game canvas inside the container */

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Add simple border and background image */

  #game {
    border-color: aquamarine;
    width: 288px;
    height: 512px;
    margin: 0 auto;
    background: url(flappybirdbg.png) no-repeat center;
    background-size: cover;
    background-position: center;
  }
}
